#server
PORT=3003
#database
MONGO_URI=mongodb+srv://esraaahmed:esraa4001411@cluster0.3ez9hbt.mongodb.net/?appName=Cluster0
#JWT
JWT_SECRET=CHANGE_THIS_SECRET
#SSH
SSH_HOST=192.168.1.X
SSH_USER=root
#EMAIL
EMAIL_USER=ia5186738@gmail.com
EMAIL_PASS=rkqz weio ivvf dsmm